.mr-note {
    background: var(--grey-10);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 20px;
    padding: 30px 50px;
    border-radius: 12px;
    border-left: 1px solid var(--grey-15);

    .subheading-2 {
        color: var(--white1);
        text-align: left;
    }

    .body {
        color: var(--gray-60);
        text-align: left;
    }

    /* note for laptop size */
    @media (max-width: 1440px) {
        gap: 16px;
        padding: 20px 40px;
        border-radius: 8px;
    }

    /* note for mobile size */
    @media (max-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 24px 20px;
        gap: 10px;
        border-radius: 8px;
    }
}