.mr-property-card {
    background: var(--black-primary);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    padding: 40px;
    border: 1px solid var(--grey-15);
    border-radius: 12px;

    /* property-card for laptop size */
    @media (max-width:1440px) {
        gap: 20px;
        padding: 30px;
    }

    /* property-card for tablet size */
    @media (max-width:992px) {
        gap: 16px;
        padding: 24px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-image {
    width: 100%;
    height: 318px;
    border-radius: 10px;

    /* property-card-image for laptop size */
    @media (max-width:1440px) {
        height: 255px;
    }

    /* property-card-image for tablet size */
    @media (max-width:992px) {
        height: 210px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    gap: 30px;
    padding: 0px;

    /* property-card-info for laptop size */
    @media (max-width:1440px) {
        gap: 24px;
    }

    /* property-card-info for tablet size */
    @media (max-width:992px) {
        gap: 20px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-brief {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 6px;
    padding: 0px;

    .subheading-2 {
        text-align: left;
        width: 100%;
        color: var(--white1);
    }

    .body {
        text-align: left;
        width: 100%;
        color: var(--gray-60);
    }

    /* property-card-brief for laptop size */
    @media (max-width:1440px) {
        gap: 4px;
    }

    /* property-card-brief for tablet size */
    @media (max-width:992px) {
        gap: 2px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-topics {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 0px;

    /* property-card-topics for laptop size */
    @media (max-width:1440px) {
        gap: 6px;
    }

    /* property-card-topics for tablet size */
    @media (max-width:992px) {
        flex-wrap: wrap;
        gap: 6px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 50px;
    padding: 0px;

    .primary-button {
        width: 100%;
    }

    /* property-card-footer for laptop size */
    @media (max-width:1440px) {
        gap: 40px;
    }

    /* property-card-footer for tablet size */
    @media (max-width:992px) {
        gap: 30px;
    }
}

/* ------------------------------------------------------------------------- */

.mr-property-card-price {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 2px;
    padding: 0px;

    .subheading-2 {
        text-align: left;
        width: 100%;
        color: var(--gray-60);
    }

    .body {
        text-align: left;
        width: 100%;
        color: var(--white1);
    }

    /* property-card-price for laptop size */
    @media (max-width:1440px) {
        gap: 0px;
    }

    /* property-card-price for tablet size */
    @media (max-width:992px) {
        gap: 0px;
    }
}

/* ------------------------------------------------------------------------- */