.mr-our-clients-section {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 150px;

    @media (max-width:1440px) {
        width: 100%;
        /* margin: 45px 0px; */
    }

    @media (max-width:992px) {
        width: 100%;
    }
}

/* ---------------------------------------- */
.mr-cards-with-slider {
    width: 100%;
    gap: 50px;

    hr {
        margin: 40px 0 16px;
        border: 1px solid var(--grey-15);
    }
    /* cards-with-slider for laptop size */
    @media (max-width:1440px) {
        gap: 40px;
        width: 100%;
    }


    /* cards-with-slider for mobile size */
    @media (max-width:992px) {
        width: 100%;
        hr{
            display: none;
        }
    }
}


/* ----------------------------------------- */

.mr-our-clients-cards-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 50px;

    /* cards-section for laptop size */
    @media (max-width:1440px) {
        width: 100%;
        gap: 40px;
    }

    /* cards-section for mobile size */
    @media (max-width:992px) {
        gap: 6px;
        width: 100%;
    }
}

@media (max-width:1440px){
    .mr-our-clients-section{
        padding-bottom: 120px;
    }

}

@media (max-width:992px){
    .mr-our-clients-section{
        padding-bottom: 80px;
    }
}
/* ----------------------------------------- */