.hala-achievements-section {
    background-color: #141414;
    color: white;
    margin-bottom: -1px;
    border: none;
}

.hala-achievements-container {
    margin: 0 auto;
}

.hala-card-item h3 {
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 600;

}

.hala-card-item-desc {
    color: #999;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

}

.hala-achievements-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 20px;
}

.hala-card-item {
    padding: 50px !important;
    flex: 1;
    box-shadow: 0 2px 7px #48474b;
    border-radius: 10px;
}


@media (max-width: 1440px) {
    .hala-achievement-card p {
        font-size: 14px;
        color: #808080;
        margin-bottom: 0;
    }


    .hala-card-item h3 {
        font-size: 24px;
        padding-bottom: 24px;
    }

    .hala-card-item-desc {
        font-size: 16px;

    }
    .hala-card-item {
        padding: 40px !important;
    }
}

@media (max-width: 992px) {
    .hala-card-item {
        padding: 20px !important;

    }

    .hala-achievements-container h3 {
        font-size: 18px;
        padding-bottom: 18px;
    }

    .hala-card-item-desc {
        font-size: 15px;
        /* margin-bottom: 40px;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 5px; */
    }
}

@media (max-width: 700px) {
    .hala-card-item {
        padding: 30px !important;
    
    }
    .hala-achievements-grid {
        flex-direction: column;

    }

    .hala-achievement-card {
        min-width: 100%;
    }
}
@media (max-width: 390px) {
}