.hala-achievements-section {
    background-color: #141414;
    color: white;
    margin-bottom: -1px;
    border: none;
}

.hala-achievements-container {
    margin: 0 auto;
}
<<<<<<< HEAD

.hala-achievements-container h2 {
    font-size: 38px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: -0.5px;
}

.hala-achievements-container-desc {
    color: #999999;
    font-size: 16px;
    line-height: 1.6;
    max-width: 1000px;
    margin-bottom: 30px;
}
=======
>>>>>>> 16e75a8f915acbd28b76eea37e6826201b0140d5

.hala-card-item h3 {
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 30px;
    color: #fff;
    font-weight: 600;

}

.hala-card-item-desc {
    color: #999;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;

}

.hala-achievements-grid {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    flex-wrap: nowrap;
    padding-right: 20px;
}

.hala-card-item {
    padding: 50px !important;
    flex: 1;
    box-shadow: 0 2px 7px #48474b;
    border-radius: 10px;
}


@media (max-width: 1440px) {
    .hala-achievement-card p {
        font-size: 14px;
        color: #808080;
        margin-bottom: 0;
    }


    .hala-card-item h3 {
        font-size: 24px;
        padding-bottom: 24px;
    }

    .hala-card-item-desc {
        font-size: 16px;

    }
    .hala-card-item {
        padding: 40px !important;
    }
}

@media (max-width: 992px) {
    .hala-card-item {
<<<<<<< HEAD
        min-width: 35%;
    }

    .hala-achievements-container h3 {
        font-size: 18px;
        margin-bottom: 10px;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 5px;
    }

    .hala-card-item-desc {
        font-size: 15px;
        line-height: 1.8;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 5px;
    }

    .hala-achievement-card {
        min-width: 45%;
=======
        padding: 20px !important;
>>>>>>> 16e75a8f915acbd28b76eea37e6826201b0140d5

    }

    .hala-achievements-container h3 {
        font-size: 18px;
        padding-bottom: 18px;
    }

    .hala-card-item-desc {
        font-size: 15px;
        /* margin-bottom: 40px;
        padding-left: 20px;
        padding-top: 10px;
        padding-right: 5px; */
    }
}

@media (max-width: 700px) {
    .hala-card-item {
        padding: 30px !important;
    
    }
    .hala-achievements-grid {
        flex-direction: column;

    }

    .hala-achievement-card {
        min-width: 100%;
    }
}
<<<<<<< HEAD



/* ---------------------------------------------------------------------- */
.hala-our-achievements-section {
    background-color: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    gap: 80px;
    padding: 0px 162px;
    /* margin: 55px 0px; */

    /* our-achievements-section for laptop size */
    @media (max-width:1440px) {
        gap: 60px;
        width: 100%;
        padding: 0px 80px;
        /* margin: 45px 0px; */
    }
 
    /* our-achievements-section  for mobile size */
    @media (max-width:992px) {
        gap: 40px;
        width: 100%;
        padding: 0px 16px;
        /* margin: 42.5px 0px; */
    }
}

.hala-our-achievements-cards-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;

    gap: 40px;

    /* our-achievements-cards-section for laptop size */
    @media (max-width: 1440px) {
        gap: 30px;
    }

    /* our-achievements-section for taplets size */
    @media (max-width: 992px) {
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }

    /* our-achievements-cards-section for mobile size */
    @media (max-width: 576px) {
        flex-direction: column;
        gap: 20px;
        justify-content: flex-start;
        align-items: center;
    }
=======
@media (max-width: 390px) {
>>>>>>> 16e75a8f915acbd28b76eea37e6826201b0140d5
}