.halaMainContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    background-color: #141414;
    color: white;
    font-family: sans-serif;
    margin-bottom: -1px;
    padding: 30px 162px 0;
}

.halaDescriptionSection {
    padding: 30px;
    border-radius: 12px;
    border: 1px solid #262626;
    height: fit-content;
}
.halaFeaturesSection {
    border-radius: 12px;
    border: 1px solid #262626;
}
.halaSmollBox {
    display: flex;
    align-items: start;
    gap: 10px;
    padding-left: 6px;
    padding-bottom: 10px;
}
.halaSpecBox {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
}
.halaSpecBox:not(:last-child) {
    border-right: 1px solid #262626;
}
.halaTitle {
    color: #FFFFFF;
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.halaDescriptionText {
    color: #999;
    line-height: 1.6;
    margin-bottom: 30px;
}
.halaSpecsGrid {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #262626;
    padding-top: 20px;
}
.halaSpecLabel {
    color: #808080;
    font-size: 0.9rem;
}
.halaSpecValue {
    margin-top: 5px;
    font-size: 1.2rem;
}
.hala-containerr {
    padding: 50px;
    border-radius: 12px;
    font-family: 'Arial', sans-serif;
    color: #ffffff;
}
.hala-titlee {
    font-size: 22px;
    font-weight: bold;
    padding-bottom: 25px;
}
.hala-item {
    display: flex;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.05);
    margin-bottom: 15px;
    padding: 20px 30px;
    border-left: 3px solid #703BF7;
    transition: 0.3s ease;
    background-color: #26262642;
}
.hala-item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}
.hala-icon-box {
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.hala-img {
    width: 20px;
    height: 20px;
}
.hala-text {
    font-size: 12px;
    line-height: 1.4;
    margin: 0;
    color: #cfd8dc;
}
@media (max-width: 1440px) {
    .halaMainContainer {
        padding: 20px 80px 0;
    }
    .hala-containerr {
        padding: 40px;
    }
    .hala-item{
        padding: 14px 16px;
    }
}
@media (max-width: 992px) {
    .halaMainContainer {
        padding: 20px 40px 0;
    }
    .hala-containerr {
        padding: 20px;
    }

    .halaSpecBox {
        border-right: none !important;
        border-bottom: 1px solid #262626 !important;
        width: 100% !important;
        padding: 15px 10px !important;
    }
    .halaSpecBox:last-child {
        border-bottom: none !important;
    }
    .halaSpecValue {
        margin-top: 5px;
        font-size: 0.9rem;
    }
    .halaSpecsGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
    .halaSpecValue {
        margin-top: 5px;
        font-size: 0.6rem;
    }
.hala-location{
    max-width: 188px;
}
    .hala-location-icon {
        width: 15px;
        height: 15px;
    }
    .hala-item{
        padding: 10px 12px;
    }

@media (max-width: 800px) {
    .halaMainContainer{
        display: grid;
        grid-template-columns: 1fr ;
    }
}