.hala-hero-section {
    background-color: #141414;
    color: #FFFFFF;
    width: 100%;
    margin-bottom: -1px; 
    padding:150px 162px 0;

}

.hala-container {
    margin: 0 auto;
}

.hala-header-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 59px;
}

.hala-title {
    font-size: 30px;
    font-weight: 600;
    margin: 0 0 8px 0;
    letter-spacing: -0.5px;
}

.hala-location {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    border: 1px solid #262626;
    border-radius: 8px;
    background-color: #1a1a1a;
}
.hala-location-icon {
    width: 20px;
    height: 20px;
}
.hala-location-text {
    color: #FFFFFF;
    font-size: 0.95rem;
}

.hala-info-side {
    display: flex;
    gap: 20px;
}
.hala-label {
    display: block;
    color: #999999;
    font-size: 0.8rem;
    margin-bottom: 4px;
}
.hala-amount {
    font-size: 1.5rem;
    font-weight: 600;
}
.hala-media-wrapper {
    width: 100%;
    overflow: hidden;
    background-color: #1a1a1a;
    border: 1px solid #222;
    padding: 50px;
    border-radius: 12px;
}
.hala-main-img {
    width: 100%;
    display: block;
    object-fit: cover;
    min-height: 450px;
}

@media (max-width: 1440px){
    .hala-hero-section{
        padding:110px 80px 0;
    }
    .hala-title {
        font-size: 24px;
    }
    .hala-header-flex {
        margin-bottom: 40px;
    }
    .hala-media-wrapper{
        padding:40px ;
    }

}
@media (max-width: 992px){
    .hala-hero-section{
        padding:75px 40px 0;

    }
    .hala-info-side {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .hala-header-flex {
        margin-bottom: 30px;
    }
    .hala-media-wrapper{
        padding:20px ;
    }
}

@media (max-width: 768px) {
    .hala-header-flex {
        display: flex;
        align-items: flex-end;
    }

    .hala-price-side {
        display: flex;
        align-items: center;
        gap: 5px;
    }


    .hala-main-img {
        min-height: 300px;
    }
    
}

@media (max-width: 390px) {
    .hala-hero-section {
        padding: 75px 16px 0;

    }
}