.faqSectionContainer {
    background-color: var(--black-primary);
    padding-bottom: 123px;

    .faqContainer {

        .cardsContainer {
            display: flex;
            justify-content: space-between;
            gap: 30px;
        }

        .mobileSlider {
            display: flex;
        }

        hr {
            margin: 40px 0 16px;
            border: 1px solid var(--grey-15);
        }
    }
}


@media (max-width: 1440px) {
    .faqSectionContainer {
        padding-bottom: 96px;

        .faqContainer {
            .cardsContainer {
                gap: 20px;
            }
        }
    }
}


@media (max-width: 992px) {
    .faqSectionContainer{
    padding-bottom: 85px;
    }
    .mobileSlider {
        justify-content: center;
    }
}

@media (max-width: 390px) {
    .faqSectionContainer {
        /* padding: 85px 8px; */

        .faqContainer {
            /* width: 358px; */
        }
    }
}