.mr-item {
    background: linear-gradient(90deg, #1A1A1A 0%, #1a1a1a00 100%);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 18px 24px;
    border-radius: 0px;
    border-left: 1px solid var(--purple-60);
    width: 100%;

    .mr-item-icon {
        width: 24px;
        height: 24px;
    }

    .mr-item-label {
        color: var(--gray-60);
        text-align: left;
    }

    /* item for laptop size */
    @media (max-width: 1440px) {
        gap: 10px;
        padding: 14px 16px;

        .mr-item-icon {
            width: 20px;
            height: 20px;
        }
    }

    /* item for mobile size */
    @media (max-width: 992px) {
        padding: 10px 12px;
        gap: 10px;

        .mr-item-icon {
            width: 18px;
            height: 18px;
        }
    }
}


.mr-item:hover {
    background: linear-gradient(90deg, #1A1A1A 100%, #1a1a1a00 100%);
}