
.badge {
    background: var(--grey-10);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 8px 14px;
    border-radius: 28px;
    border: 1px solid var(--grey-15);

    .body {
        color: hsla(0, 0%, 60%, 1);
        text-align: left;
    }

    /* badge for laptop size */
    @media (max-width: 1440px) {
        gap: 4px;
        padding: 6px 12px;
    }

    /* badge for mobile size */
    @media (max-width: 992px) {
        padding: 10px 12px;
        gap: 10px;
    }
}