.hala-achievement-card {
    background: var(--black-primary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 50px;
    gap: 30px;
    width: 100%;
    height: 100%;

    border: 1px solid var(--grey-15);
    border-radius: 12px;

    box-shadow: 0px 0px 0px 8px var(--shadow-black);

    .subheading-2 {
        color: var(--white1);
    }

    .body {
        color: var(--gray-60);
    }

    /* achievement-card for laptop size */
    @media (max-width: 1440px) {
        padding: 40px;
        gap: 24px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 6px var(--shadow-black);
    }

    /* achievement-card for mobile size */
    @media (max-width: 576px) {
        padding: 30px;
        gap: 16px;
        border-radius: 10px;
        box-shadow: 0px 0px 0px 4px var(--shadow-black);
    }
}

/* ------------------------------------------------ */