.HalaHeroServses {
    background-color: #141414;

}

/*.za-forTitle{
                font-size: 38px;
                padding: 60px;
                padding:80px 100px 60px;
            }*/
.editdistancebyali {
    font-size: 38px;
    padding: 150px 162px 100px;
}

@media (max-width:1440px) {
    .editdistancebyali {
        padding: 100px 200px 100px 80px ;
    }
}

@media (max-width:992px) {
    .editdistancebyali {
        padding: 50px 16px 50px;
    }
}
/* @media (max-width:390px) {
    .editdistancebyali {
        font-size: 38px;
        padding: 60px;
        padding-left: 100px;
    }
} */