.HalaHeroServses{
background-color: #141414;
    
}
/*.za-forTitle{
            font-size: 38px;
            padding: 60px;
            padding:80px 100px 60px;
        }*/
        .editdistancebyali{
            font-size: 38px;
            padding: 60px;
            padding-left: 100px;
            /*padding:90px 100px 60px;*/
            
        }