.HalaHeroServses {
background: linear-gradient(to right, #807f7f66, 2%, #141414);
}

.editdistancebyali {
    font-size: 38px;
    padding: 150px 162px 100px;
}

.HalaHeroServses {
    background-color: #141414;
}

.editdistancebyali {
    font-size: 38px;
    padding-left: 100px;

}

@media (max-width:1440px) {
    .editdistancebyali {
        padding: 100px 200px 100px 80px;
    }
}

@media (max-width:992px) {
    .editdistancebyali {
        padding: 50px 16px 50px !important;
    }
}

@media (max-width:576px) {
    .editdistancebyali {
        padding: 50px 16px 50px;
        padding-left: 16px !important;
    }
}