.mr-statistic-card {
    background: var(--grey-10);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    padding: 16px 24px;
    width: 100%;

    border: 1px solid var(--grey-15);
    border-radius: 12px;

    .subheading-1 {
        color: var(--white1);
    }

    .body {
        color: var(--gray-60);
    }

    /* statistic-card for laptop size */
    @media (max-width: 1440px) {
        padding: 14px 20px;
        border-radius: 10px;
    }

    /* statistic-card for mobile size */
    @media (max-width: 992px) {
        justify-content: center;
        align-items: center;
        padding: 16px;
        border-radius: 8px;
    }
}

/* ------------------------------------------------ */